<h1>視聴履歴</h1>

<% if @watch_histories.any? %>
  <table>
    <thead>
      <tr>
        <th>作品名</th>
        <th>視聴日時</th>
        <th>再生</th>
      </tr>
    </thead>
    <tbody>
      <% @watch_histories.each do |h| %>
        <tr>
          <td><%= link_to h.product.name, product_path(h.product) %></td>
          <td><%= h.watched_at.strftime('%Y-%m-%d %H:%M') %></td>
          <td>
            <%= video_tag product_video_path(h.product), controls: true, style: "max-width: 200px;" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>視聴履歴はありません。</p>
<% end %>

<%= link_to "戻る", products_path %>
