/* ヘッダーのスタイル */
header {
  background-color: #333;
  color: white;
  padding: 0 0 10px 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

header .flixio-title {
  font-size: 1.8em;
  margin-left: 0;
}

header .flixio-title .title-link {
  text-decoration: none; /* アンダーラインを消す */
  color: inherit; /* 親要素の色を継承 */
}

header .flixio-title .title-link:hover {
  text-decoration: none;
  color: white; 
}

.kanri-title {
  margin-top: 6px;
  margin-left: 20px;
}

.kanri-title .kanri-link {
  color: #00bfff; /* 水色 */
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

.kanri-title .kanri-link:hover {
  color: white;
  text-decoration: none;
}


header ul {
  list-style-type: none;
  display: flex;
  margin-right: 20px;
}

header ul li {
  margin: 0 10px;
}


header ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.1em;
}

header ul li a:hover {
  text-decoration: underline;
}

/* 検索フォーム */
form {
  display: inline-block;
}

form input[type="text"], form select, form input[type="submit"] {
  padding: 5px;
  font-size: 1em;
  margin-right: 10px;
}

/* ボタンのスタイル */
.button {
  padding: 5px 15px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

/* 小さい画面に対応 */
@media (max-width: 768px) {
  header nav {
    flex-direction: column;
    align-items: flex-start;
  }

  header ul {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  header ul li {
    margin: 10px 0;
  }

  .container {
    padding: 10px;
  }

  .product-links {
    display: block;
    text-align: center;
  }
}

.product-container-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr); /* 4つのカラム */
      gap: 30px; /* アイテム間の隙間 */
      justify-items: center;
      margin-top: 20px;
    }

/* 商品ごとのコンテナ */
.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 20px; /* アイテム間の隙間 */
  }

/* サムネイル画像のサイズ設定 */
.product-thumbnail {
  width: 100%; /* 幅を親要素に合わせて100%に */
  max-width: 250px; /* 最大幅を設定 */
  height: auto; /* 高さは幅に合わせて自動調整 */
  object-fit: cover; /* 画像がサムネイルに収まるように調整 */
}

/* レスポンシブ対応：画面幅が狭い場合 */
@media (max-width: 1024px) {
  .product-container-wrapper {
    grid-template-columns: repeat(3, 1fr); /* 画面が狭いときは3つずつ */
  }
}

@media (max-width: 768px) {
  .product-container-wrapper {
    grid-template-columns: repeat(2, 1fr); /* さらに狭い画面では2つずつ */
  }
}

@media (max-width: 480px) {
  .product-container-wrapper {
    grid-template-columns: 1fr; /* スマホ画面では1つずつ縦に並べる */
  }
}